In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import PolynomialFeatures
import datetime 
import pytz
from pytz import timezone

# Reading and graphing data from one sensor

Reading June data from one of the sensors

In [11]:
df = pd.read_csv("sonycnode-b827ebc178d2.sonyc.csv", skiprows = 2, low_memory = False)
df.head()

      timestamp   dBAS
0  1.559362e+09  63.53
1  1.559362e+09  63.73
2  1.559362e+09  64.94
3  1.559362e+09  63.09
4  1.559362e+09  61.66

In [15]:
time_arr = np.empty(df.shape[0], dtype = datetime.datetime)
timestamp_arr = df['timestamp'].values
dBAS_arr = df['dBAS'].values

In [16]:
df.size

5179800

In [17]:
eastern = timezone('US/Eastern')
for i in range(df.shape[0]):
    j = timestamp_arr[i]
    dt = datetime.datetime.utcfromtimestamp(j)
    dt = pytz.UTC.localize(dt)
    dt = dt.astimezone(pytz.timezone('US/Eastern'))
    time_arr[i] = dt

In [18]:
# test = smaller_df['timestamp'].values[1]
# test_dt = pytz.UTC.localize(datetime.datetime.utcfromtimestamp(test)).astimezone(pytz.timezone('US/Eastern'))
# type(test_dt)
# time_arr[1]

Creating a new dataframe with timestamps

In [19]:
time_df = df
time_df['timestamp'] = time_arr
time_df.tail()

                               timestamp   dBAS
2589895 2019-07-01 00:00:38.810000-04:00  66.04
2589896 2019-07-01 00:00:39.810000-04:00  69.75
2589897 2019-07-01 00:00:40.810000-04:00  68.68
2589898 2019-07-01 00:00:41.810000-04:00  73.17
2589899 2019-07-01 00:00:42.810000-04:00  77.04