In [1]:
import sys
sys.path.insert(1, '../modules')
import data
import display
import datetime
import pandas as pd

In [2]:
data.create_dataframe('../output/june_2019_df_test.csv', '../data/sound_data_improved.hdf5', \
                      '../data/sonycnode-b827ebc178d2.sonyc.csv', datetime.datetime(2019, 6, 1, 4), \
                      datetime.datetime(2019, 6, 30, 4), b'sonycnode-b827ebc178d2.sonyc')

done with reading hdf5 file
done with indexing
      timestamp   dBAS
0  1.559362e+09  63.53
1  1.559362e+09  63.73
2  1.559362e+09  64.94
3  1.559362e+09  63.09
4  1.559362e+09  61.66
done with creating spl dataframe
                         timestamp   dBAS
0 2019-06-01 00:00:42.690000-04:00  63.53
1 2019-06-01 00:00:43.690000-04:00  63.73
2 2019-06-01 00:00:44.690000-04:00  64.94
3 2019-06-01 00:00:45.690000-04:00  63.09
4 2019-06-01 00:00:46.690000-04:00  61.66
done with PCA
done with getting cluster assignments
done with creating assignments_df
                           assignment
2019-06-01 00:00:16-04:00          20
2019-06-01 00:00:17-04:00          37
2019-06-01 00:00:18-04:00          27
2019-06-01 00:00:19-04:00          37
2019-06-01 00:00:20-04:00          37
done with creating SPL dataframe with time index
done with joining dataframe and replacing cluster assignments
done with getting weekend medians
done with getting weekday medians
done with creating and filling median array
done with creating dataframe for weekday and weekend medians
done with joining dataframes and merging weekday and weekend data
done with creating final dataframe
done with saving dataframe to output

In [2]:
df = pd.read_csv('../output/june_2019_df_test.csv', low_memory = False)

Replacing index with datetime values, converting them to correct timezone

In [3]:
df = df.set_index(pd.to_datetime(df.iloc[:, 0]))

df = df.drop('Unnamed: 0', axis=1)

df = df.tz_convert('US/Eastern')

del df.index.name

The dataframe, ready for visualization!

In [4]:
df.head()

                            dBAS  assignment  median_dBAS
2019-06-01 00:00:42-04:00  63.53         2.0        61.01
2019-06-01 00:00:43-04:00  63.73         1.0        63.16
2019-06-01 00:00:44-04:00  64.94         2.0        64.48
2019-06-01 00:00:45-04:00  63.09         2.0        63.70
2019-06-01 00:00:46-04:00  61.66         2.0        63.76

In [5]:
data.get_truck_peaks(df['2019-06-03 14:00:00-04:00':'2019-06-03 15:00:00-04:00'], 3)

[68.61 75.07 71.14 73.72 81.94 80.68 71.84 79.24 78.27]

/home/cusp/meh708/.conda/envs/redhook_analysis_storage/lib/python3.7/site-packages/numpy/core/fromnumeric.py:56: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return getattr(obj, method)(*args, **kwds)

                           truck_peaks
index
2019-06-03 14:00:18-04:00        68.61
2019-06-03 14:09:54-04:00        75.07
2019-06-03 14:12:13-04:00        71.14
2019-06-03 14:15:32-04:00        73.72
2019-06-03 14:18:19-04:00        81.94
2019-06-03 14:20:10-04:00        80.68
2019-06-03 14:28:38-04:00        71.84
2019-06-03 14:39:32-04:00        79.24
2019-06-03 14:56:13-04:00        78.27